<div class="tab about" data-group="primary" data-tab="about">
    <h1>About</h1>
    <p>Hi! My name is Andy, but I go by DJ. I hope you're enjoying my modules. I made them to make my life easier and I hope it makes yours easier as well!</p>

    <h2>My Modules</h2>

    <ul>
        <li>
            <p><a href="https://github.com/Djphoenix719/PDFoundry">PDFoundry</a>, a fully featured PDF viewer including form fillable character sheets and more.</p>
        </li>
        <li>
            <p><a href="https://github.com/Djphoenix719/FVTT-PF2EToolbox">PF2E Toolbox</a>, a collection of tweaks and improvements for both quality of life and system improvement for the Pathfinder 2E system.</p>
        </li>
        <li>
            <p><a href="https://github.com/Djphoenix719/FVTT-PF2ELootGen">PF2E LootGen</a>, a sophisticated loot generating sheet designed to be a drop in replacement of the default PF2E loot sheet.</p>
        </li>
    </ul>

    <hr>

    <p>If you want to support my work, consider supporting me on Ko-Fi. Every dollar helps me put more time into improving my modules, adding more features, and listening to feedback.</p>
    <a href='https://ko-fi.com/N4N31ZRV9' target='_blank'>
        <img height='36' style='border:0px;height:36px;' src='https://cdn.ko-fi.com/cdn/kofi2.png?v=2' border='0' alt='Buy Me a Coffee at ko-fi.com' />
    </a>
</div>